.accordion_f {
  margin-top: 30px;
}

.acc_ex {
  margin-top: 70px;
}
h3,
h4 {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid red;
  background-color: black;
  color: white;
}
.b1 {
  padding: 20px 0;
}
.b {
  margin-top: 30px;
}
